@import '../../../global.css';

.cajaCard {
    width:22.5rem; 
    margin-left: 0;
    height:25rem;

    display:flex;
    gap:1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaFont {
    color: var(--text-color);
    font-size:1.8rem;
}

.cajaMiscFont {
    color: var(--text-color);
    font-size:1.1rem;
}

@media (max-width: 992px) {
    
}