@import '../../global.css';

.carta {
    width: 100%;
    min-height: var(--card-height);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    overflow-x: auto;
    background-color: var(--background-components);
    color: var(--text-color);

    margin-left: auto;
    margin-right: auto;

    display:flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

}

.carta h1 {
    font-weight: normal;
    padding: 0.5rem 0;
    vertical-align: middle;
}

.carta h1 a {
    color: var(--text-color);
    padding: 0.3rem;
    border-radius: 100%;
    display: inline-flex;
    height: 100%;
    width: fit-content;
    vertical-align: middle;
}

.carta h1 a:hover {
    color: var(--primary);
    background-color: var( --background-maincolor);
}

.carta .loading {
    width: 100%;
    height: 75vh;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

@media (min-width: 992px) {
    .carta {
        max-width: 960px;

    }
    
}

@media (min-width: 1200px) {
    .carta {
        max-width: 1140px;
        padding: 2rem 4rem;

    }
    
}

@media (min-width: 1400px) {
    .carta {
        max-width: var(--card-max-width);
        padding: 2rem 6rem;
    }
    
}