@import url('../../global.css');



.MainDashboard {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.iconBoton {
    cursor: pointer;
}

.iconBoton:hover {
    color: var(--primary);
}

@media (max-width: 992px) {
    .MainDashboard {
        flex-direction: column;

    }

    .maximizedSeccion {
        z-index: 9999;
        position: static;
        transform: scale(1);
        transition: all .2s ease-in-out;
    }

}