@import url('../../global.css');

.seccionDash {
    padding: 1rem;
    box-shadow: var(--shadow-lg);
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-components);
    color: var(--text-color);
}