
.suggestion-container {
    width: 78vw;
}

@media screen and (max-width: 768px) {
    .suggestion-container {
        width: 100vw;
    }

    .suggestion-card {
        padding: 1.5rem;
    }
    
}