@import url('../../global.css');

.rowClickable {
    cursor: pointer;
}

.rowClickable:hover {
    background-color: #d6e5f7;
}



/*SECCION*/
.seccionDash {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    box-shadow: var(--shadow-lg);
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-components);
    color: var(--text-color);
    transition: all .2s ease-in-out;
    min-width: 585px;
}

.seccionDash h3 {
    margin: 0;
    padding: 0;
}

.iconBoton {
    cursor: pointer;
}

.iconBoton:hover {
    color: var(--primary);
}

.seccionDash .graphSection {
    width: 560px;
    height: 330px;
}

.seccionDashHover:hover {
    transform: scale(1.006);
}

.maximizedSeccion {
    z-index: 9999;
    position: absolute;
    transform: scale(1.5);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media (max-width: 1200px) {
    .seccionDash {
        max-width: 480px;
        min-width: 480px;
    }

    .seccionDash .graphSection {
        width: 450px;
        height: 330px;
    }
}

@media (max-width: 992px) {

    .maximizedSeccion {
        z-index: 9999;
        position: static;
        transform: scale(1);
    }

}